.bl-wellcome{
	color:#fff;
	position:relative;	
	padding:72px 45px;
	text-align:center;
	*{
		position:relative;
		z-index:2;
		margin:0px;
	}
	&:before{
		content:'';
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		background:#000;
		opacity:.4;
		z-index:1;
	}
	h1{
		font-weight:bold;
		font-size:38px;
		margin-bottom:20px;
	}
	p{
		margin-bottom:20px;
		&:last-child{
			margin:0px;
		}
	}
}