.btn--block{
	display:block;
	width:100%;
}
.btn-social{
	font-size:13px;
	font-weight:bold;
	color:#fff;
	display:inline-block;
	padding:10px 15px;
	i{
		vertical-align:middle;
		margin-right:16px;
	}
}
.btn-social--fb{
	background:#3B5998;
}
.btn-social--twt{
	background:#42ABE2;
	i{
		margin: 0 9px 0 -6px;
	}
}
.btn-social--gp{
	background:#D0422A;
	i{
		margin: 0 8px 0 -2px;
	}
}
.btn-social--mail{
	background:#698C00;
	i{
		margin: 0 10px 0 -2px;
	}
}
.btn-form{
	background:#4F6373;
	border:none;
	font-weight:bold;
	font-size:15px;
	color:#fff;
	padding:6px 12px 12px;
}
