.form-control{
	height:40px;
	color:#727D8A;
	font-size:12px;
}
select.form-control{
	height:28px;
}
.frm-login{
	background:#fff;
	text-align:center;
	padding:60px 70px 40px;
	h2{
		font-size:30px;
		font-weight:bold;
		margin:0 0 20px;
	}
	.btn-social{
		margin-bottom:15px;
		text-align:left;
		&:last-child{
			margin:0px;
		}
	}
	p{
		font-size:15px;
	}
}
.frm-login--form{
	background:#f4f4f4;
	padding:60px 25px 40px;
	.btn-form{
		margin-top:5px;
	}
	.form-control{
		background:#fff;
		border:none;
		color:#727D8A;
		font-size:12px;
	}
	label.table-form__cell{
		width: 45px;
	    height: 40px;
	    background: #fff;
	    vertical-align: middle;
	    border-right: 5px solid #f4f4f4;
	}
	input.table-form__cell{
		height:40px;
	}
	h2{
		font-size:25px;
	}
}
.frm-table-form{
	display:table;
	width:100%;
	.table-form__row{
		display:table-row;
	}
	.table-form__cell{
		displaY:table-cell;
	}
}

.frm-login--edit{
	padding:38px 32px;
	select.form-control{
		background:#dedede;
	}
	.form-group{
		text-align:left;
	}
	label{
		font-size:12px;
		font-weight:normal;
		color:#353535;		
	}
	h2{
		font-size:30px;
	}
}