*[class*="icon-"]{
	display:inline-block;
}
.icon-fb{
	@include sprite($fb);
}
.icon-tw{
	@include sprite($tw);
}
.icon-gsocial{
	@include sprite($gsocial);
}
.icon-mail{
	@include sprite($mail);
}
.icon-glr{
	@include sprite($logo-glr-footer);	
}
.icon-mail-form{
	@include sprite($mail-small);		
}
.icon-mail-padlock{
	@include sprite($padlock);		
}