/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 63px;
$fb-offset-x: 0px;
$fb-offset-y: -63px;
$fb-width: 12px;
$fb-height: 20px;
$fb-total-width: 180px;
$fb-total-height: 83px;
$fb-image: '../../../static/image/design/sprite.png';
$fb: (0px, 63px, 0px, -63px, 12px, 20px, 180px, 83px, '../../../static/image/design/sprite.png', 'fb', );
$gsocial-name: 'gsocial';
$gsocial-x: 0px;
$gsocial-y: 33px;
$gsocial-offset-x: 0px;
$gsocial-offset-y: -33px;
$gsocial-width: 22px;
$gsocial-height: 20px;
$gsocial-total-width: 180px;
$gsocial-total-height: 83px;
$gsocial-image: '../../../static/image/design/sprite.png';
$gsocial: (0px, 33px, 0px, -33px, 22px, 20px, 180px, 83px, '../../../static/image/design/sprite.png', 'gsocial', );
$logo-glr-footer-name: 'logo-glr-footer';
$logo-glr-footer-x: 0px;
$logo-glr-footer-y: 0px;
$logo-glr-footer-offset-x: 0px;
$logo-glr-footer-offset-y: 0px;
$logo-glr-footer-width: 180px;
$logo-glr-footer-height: 23px;
$logo-glr-footer-total-width: 180px;
$logo-glr-footer-total-height: 83px;
$logo-glr-footer-image: '../../../static/image/design/sprite.png';
$logo-glr-footer: (0px, 0px, 0px, 0px, 180px, 23px, 180px, 83px, '../../../static/image/design/sprite.png', 'logo-glr-footer', );
$mail-small-name: 'mail-small';
$mail-small-x: 97px;
$mail-small-y: 33px;
$mail-small-offset-x: -97px;
$mail-small-offset-y: -33px;
$mail-small-width: 14px;
$mail-small-height: 10px;
$mail-small-total-width: 180px;
$mail-small-total-height: 83px;
$mail-small-image: '../../../static/image/design/sprite.png';
$mail-small: (97px, 33px, -97px, -33px, 14px, 10px, 180px, 83px, '../../../static/image/design/sprite.png', 'mail-small', );
$mail-name: 'mail';
$mail-x: 67px;
$mail-y: 33px;
$mail-offset-x: -67px;
$mail-offset-y: -33px;
$mail-width: 20px;
$mail-height: 15px;
$mail-total-width: 180px;
$mail-total-height: 83px;
$mail-image: '../../../static/image/design/sprite.png';
$mail: (67px, 33px, -67px, -33px, 20px, 15px, 180px, 83px, '../../../static/image/design/sprite.png', 'mail', );
$padlock-name: 'padlock';
$padlock-x: 22px;
$padlock-y: 63px;
$padlock-offset-x: -22px;
$padlock-offset-y: -63px;
$padlock-width: 12px;
$padlock-height: 16px;
$padlock-total-width: 180px;
$padlock-total-height: 83px;
$padlock-image: '../../../static/image/design/sprite.png';
$padlock: (22px, 63px, -22px, -63px, 12px, 16px, 180px, 83px, '../../../static/image/design/sprite.png', 'padlock', );
$tw-name: 'tw';
$tw-x: 32px;
$tw-y: 33px;
$tw-offset-x: -32px;
$tw-offset-y: -33px;
$tw-width: 25px;
$tw-height: 17px;
$tw-total-width: 180px;
$tw-total-height: 83px;
$tw-image: '../../../static/image/design/sprite.png';
$tw: (32px, 33px, -32px, -33px, 25px, 17px, 180px, 83px, '../../../static/image/design/sprite.png', 'tw', );
$spritesheet-width: 180px;
$spritesheet-height: 83px;
$spritesheet-image: '../../../static/image/design/sprite.png';
$spritesheet-sprites: ($fb, $gsocial, $logo-glr-footer, $mail-small, $mail, $padlock, $tw, );
$spritesheet: (180px, 83px, '../../../static/image/design/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
